body {
    margin: auto;
    background-image: url("https://webdesignerdepot.s3.amazonaws.com/default-images/25.jpg");
    font-family: 'Lato', sans-serif;
}

.main {
    text-align: center;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
   margin: 25px auto;
   background: rgb(197,222,234); /* Old browsers */
   width: 80%;
   border: 4px solid white;
background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(9,50,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(9,50,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(9,50,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#0932e8',GradientType=0 ); /* IE6-9 */
   width: 80%;

}



.main-title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-bottom: 4px solid white;
    font-size: 3em;  
    width:100%;
    background-color: blue;
    color: white;
  }


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 30%;
    border: 2px solid white;
    padding: 10px;
    background-color: white;
  }
  
.description {
    color: white;
    font-size: 1.2em;
    width: 50% auto;
    margin: 20px;
} 

.form {
    padding-bottom: 10px;
    font-size: 2.2em;
    color: #fff;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center; 
  }

.button {
    color: rgb(245, 238, 255); font-size: 24px; line-height: 24px; padding: 10px; border-radius: 0px; font-family: Montserrat, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-color: #144E75; box-shadow: rgb(0, 0, 0) 2px 2px 4px 2px; border: 2px solid rgb(28, 110, 164); display: inline-block;
    margin-bottom: 20px;
    color:#313131;
    -webkit-animation:colorchange .7s infinite alternate;
    
    
  }
  @-webkit-keyframes colorchange {
    0% {
      color: yellow;
    }
    100% { 
      color: white;
    }
}
    
.button:hover {
    background: #129700;
    color: #fff;
    cursor: pointer;
}

.myButton:active {
    background: #144E75; }
 


    
.footer{
   margin: 25px auto;
   width: 80%;
   text-align: right;
}

#credit{
    text-align: right;
    display: inline;
    width: 50px;
    margin-bottom: -10px
}

.copyright {
    background-color: #D3D3D3;
    color: black;
    text-align: center;
    margin-bottom: -16px

}



